/**
 * Twitter Print Styles
 *
 * 1. Hide main menu.
 * 2. Hide sidebar.
 * 3. Hide modals/tooltips/popovers.
 * 4. Make "Thread" header non-sticky.
 * 5. Expand tweet images.
 * 6. Hide extra video placeholders.
 * 7. Reset video transformations.
 * 8. Fix icon alignment for reply/retweet/like buttons.
 * 9, Make infinite scrolling timeline static again.
 * 10. Normalize tweet borders
 * 11. Hide everything after the first set timeline content.
 * 12. Add some breathing room to make tweets more readable.
 * 13. Make sure nothing animates during print.
 * 14. Try to fit media within the page.
 * 15. Revert Dark Mode.
 */

/* BEGIN */

/* 1. Hide main menu. */
header[role="banner"] {
  display: none !important;
}

/* 2. Hide sidebar. */
[data-testid="sidebarColumn"] {
  display: none !important;
}

/* 3. Hide modals/tooltips/popovers. */
#layers {
  display: none !important;
}

[data-testid="primaryColumn"] {
  margin-right: auto !important;
  margin-left: auto !important;
}

/* 4. Make "Thread" header non-sticky. */
[data-testid="primaryColumn"] > :first-child > :first-child {
  position: relative !important;
}

/* 5. Expand tweet images. */
/* - Make sure inline images display instead of background images. */
[style*="background-image: url("] {
  display: none !important;
}

img {
  opacity: 1 !important;
}

/* - Break everything out of their `position: absolute;` containers. */
[data-testid="tweet"] * {
  position: static !important;
}

/* - Hide all the placeholder aspect ratio elements. */
[data-testid="tweet"] [style*="padding-bottom"] {
  display: none !important;
}

/* - Ensure images are visible. */
[data-testid="tweet"] img {
  opacity: 1 !important;
}

/* - Prevent photos overflowing the content area. */
[data-testid="tweetPhoto"] {
  margin: 0 !important;
}

/* 6. Hide extra video placeholders. */
[data-testid="videoPlayer"] [role="button"] {
  display: none !important;
}

/* 7. Reset video transformations. */
[data-testid="videoPlayer"] video {
  transform: none !important;
}

/* 8. Fix icon alignment for reply/retweet/like buttons. */
[data-testid="tweet"] [role="group"]:last-child [role="button"] > :first-child > :first-child > :first-child {
  display: none !important;
}

/* 9, Make infinite scrolling timeline static again. */
[data-testid="primaryColumn"] [role="region"] > div > :first-child {
  min-height: 0 !important;
}

[data-testid="primaryColumn"] [role="region"] > div > :first-child > * {
  position: relative !important;
  transform: none !important;
}

/* 10. Normalize tweet borders */
[data-testid="primaryColumn"] > :first-child {
  border-top: 1px solid black !important;
}

[data-testid="primaryColumn"] [role="region"] > div > :first-child > div > div {
  border-top: 0 !important;
  border-bottom: 1px solid black !important;
}

/* 11. Hide everything after the first set timeline content. */
/* NOTE: This allows us to easily swap out our duplicate and the original content. */
[data-testid="primaryColumn"] [role="region"] > div > :first-child ~ * {
  display: none !important;
}

/* 12. Add some breathing room to make tweets more readable. */
article {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

/* 13. Make sure nothing animates during print. */
* {
  transition: none !important;
  animation: none !important;
}

/* 14. Try to fit media within the page. */
video,
img {
  max-height: 50vh;
  object-fit: contain;
  page-break-inside: avoid;
}

/* 15. Revert Dark Mode. */
*:not(a) {
  background-color: transparent !important;
  color: black !important;
}

/* END */
